<a href="https://colab.research.google.com/github/samhitha8055/pandas/blob/main/week2_tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
my_tuple  = 24, 42, 2.3456, "Hello"
my_tuple

(24, 42, 2.3456, 'Hello')

In [ ]:
my_tuple2 = "One",
my_tuple2

('One',)

In [ ]:
my_tuple[1] = "New"

TypeError: 'tuple' object does not support item assignment

In [ ]:
my_tuple3 = ()
my_tuple3

()

In [ ]:
my_tuple = "hello", "there"
my_tuple2 = my_tuple, 45, "guido"

In [ ]:
my_tuple

('hello', 'there')

In [ ]:
my_tuple2

(('hello', 'there'), 45, 'guido')

In [ ]:
my_tuple = "Hello", "World"
hello, world = my_tuple
print(hello)
print(world)

Hello
World

In [ ]:
hello = "Welcome"
print(hello)
print(world)

Welcome
World